@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

body {
  background: #e6f7d1;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Bruno Ace SC", cursive;
}

.header {
  background-color: #212b11;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  letter-spacing: 3px;
  color: #84d337 !important;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: #84d337;
  margin: 20px 50px;
  padding: 30px;
  width: 450px;
  height: 380px;
  box-shadow: 0px 5px 15px 2px #84d337;
}

h1 {
  color: #3c3718;
  margin: 30px 0 50px 0;
}

input {
  padding: 0 15px;
  width: -webkit-fill-available;
  margin: 15px;
  height: 35px;
  border-radius: 20px;
  font-weight: bold;
  background: #e6f7d1;
  border: 2px solid #e6f7d1;
  outline: none;
  color: #3c3718;
  transition: all 500ms ease-out;
}
input:focus {
  border: 2px solid #3c3718;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.button {
  padding: 0 15px;
  width: -webkit-fill-available;
  margin: 15px;
  height: 35px;
  border-radius: 20px;
  font-weight: bold;
  background: #3c3718;
  margin: 40px 15px 20px 15px;
  color: #e6f7d1;
  transition: all 500ms ease-out;
  animation: lights 4000ms infinite ease-in;
  border: 0;
}
.button:hover {
  border: 1px solid #e6f7d1;
  box-shadow: 0px 0px 10px 2px #e6f7d1;
  animation: none;
}

@keyframes lights {
  0% {
    box-shadow: 0px 0px 5px 2px #e6f7d1;
  }
  50% {
    box-shadow: 0px 0px 5px 2px #3c3718;
  }
  70% {
    box-shadow: 0px 0px 5px 2px #64896a;
  }
  100% {
    box-shadow: 0px 0px 5px 2px #e6f7d1;
  }
}
a {
  color: #e6f7d1;
  text-decoration: none;
  font-size: 10px;
  font-weight: bolder;
  opacity: 0.6;
  transition: all 300ms ease-in-out;
}
a:hover {
  opacity: 0.9;
}

table {
  width: 850px;
}
th {
  padding: 1rem;
  background-color: #3c3718;
  color: #e6f7d1;
}
td {
  font-size: small;
  text-align: center;
}

/* SPINNER */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 5px;
  width: 0.5em;
  height: 0.5em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* 404 page  */

.page_404 {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}
